.sidebar-nav .logout-link {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: transparent;
    color: var(--dark-color);
    font: inherit;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-nav .logout-link img {
    filter: invert(97%) sepia(0%) saturate(0%) hue-rotate(320deg) brightness(80%) contrast(87%);
}

.sidebar-nav .logout-link:hover img {
    filter: invert(50%) sepia(19%) saturate(7481%) hue-rotate(151deg) brightness(95%) contrast(101%);
}

.sidebar-nav .logout-link span {
    opacity: 1;
    white-space: nowrap;
    transition: opacity 0.3s;
    margin-left: 10px;
}

.sidebar-nav li:hover .logout-link {
    background-color: var(--sidebar-link-hover);
    color: var(--sidebar-active-color);
    font-weight: 600;
    margin-left: 10px;
}

.sidebar.collapsed .sidebar-nav .logout-link span {
    opacity: 0;
    width: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.sidebar.collapsed .sidebar-nav .logout-link {
    justify-content: center;
}